<section id="featureList" data-transition="slide">
    <header data-title="{{title}}">
        <nav class="left">
            <a data-icon="menu" lab-aside="features"></a>
        </nav>

        <nav class="right">
            <a href="#/featureEdit" ng-click="enterAdd()" data-icon="plus"></a>
        </nav>
    </header>

    <article class="active  scroll">
        <div ng-hide="userDataReceived" data-loading="black" class="centered"></div>
        <ul class="list">
            <li class="selectable medthumb" data-ng-repeat="feature in features" ng-click="enterDetail()">

                <a href="#/featureEdit">
                    <div>Feature Name: {{feature.featureName}}</div>
                    <div>WorkFlow Name: {{feature.workFlowName}}</div>
                    <div>Role: {{feature.role[0]}}</div>
                    <div>Privilege: {{feature.privilegeType[0]}}</div>
                </a>
            </li>
        </ul>
        <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </article>


    <footer>
        <nav>
            <a href="#home" data-icon="home"></a>
            <a href="#news" data-icon="mail"></a>
            <a href="#sos" data-icon="phone"></a>
            <a href="#search" data-icon="search"></a>
        </nav>
    </footer>
</section>