<section id="home" data-transition="slide">
    <header data-title="{{title}}">
        <nav class="left">
            <a data-icon="menu" lab-aside="features"></a>
        </nav>
    </header>

    <article class="active">
        <div>
            <br>

            <div align="center">
                <a href="#clients">
                    <img height="25%" ng-src="images/Clients.png">
                </a>
                <a href="#camps/list">
                    <img height="25%" ng-src="images/Camps.png">

                </a>
            </div>
            <br>

            <div align="center">
                <a href="#scheduler/calendar">
                    <img height="25%" ng-src="images/Calendar2.png">

                </a>
                <a href="#news">
                    <img height="25%" ng-src="images/News2.png">
                </a>
            </div>
        </div>
    </article>

    <!--article id="camps" class="">
        <a href="#clients" data-image="http://i.imgur.com/5FrTaLn.png"></a><br>
    </article>

    <article id="Schedule" class="">
        <a href="#clients" data-image="http://i.imgur.com/hbPEnOx.png"></a><br>
    </article>

    <article id="News" class="">
        <a href="#clients" data-image="http://i.imgur.com/8jYjFAQ.png"></a><br>
    </article-->


    <footer>
        <nav>
            <a href="#home" data-icon="home"></a>
            <a href="#news" data-icon="mail"></a>
            <a href="#sos" data-icon="phone"></a>
            <a href="#search" data-icon="search"></a>
        </nav>
    </footer>
</section>