<section id="privilegeEdit" data-transition="slide">
    <header data-title="{{title}}">
        <nav class="left">
            <a data-icon="menu" lab-aside="features"></a>
        </nav>
    </header>

    <article class="active scroll">

        <ul>
            <li>
                <form name="privilegeForm" class="form">

                    <fieldset>
                        <label>Privilege</label>
                        <label class="select">
                            <select data-ng-model="privilege.action" ng-options="action for action in actions"
                                    name="privilege"
                                    ng-required="true">
                            </select>
                        </label>
                    </fieldset>

                </form>
            </li>

            <li>
                <div>
                    <a href="#/privilegeList" ng-hide="!privilegeForm.$valid" class="right button" type="submit"
                       ng-click="editPrivilege()">Submit</a>
                </div>
            </li>

            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>

        </ul>

    </article>

    <footer>
        <nav>
            <a href="#home" data-icon="home"></a>
            <a href="#news" data-icon="mail"></a>
            <a href="#sos" data-icon="phone"></a>
            <a href="#search" data-icon="search"></a>
        </nav>
    </footer>
</section>