<section id="sos" data-transition="slide">
    <header data-title="{{title}}">
        <nav class="left">
            <a data-icon="menu" lab-aside="features"></a>
        </nav>
    </header>

    <article id="sosCall" class="active scroll">
        <br>
        <div align="center">
            <ul>
                <a href="tel:911" style="width:95%;" class="button" data-icon="phone"> Emergency 911 </a>
                <br><br>
                <a href="tel:6146454545" style="width:95%;" class="button" data-icon="phone"> Police Non-Emergency </a>
                <br><br>
                <a href="tel:18884743587" style="width:95%;" class="button" data-icon="phone"> Coordinated Point of Access </a>
                <br><br>
                <a href="tel:6142762273" style="width:95%;" class="button" data-icon="phone"> NetCare </a>
                <br><br>
                <a href="tel:6144491530" style="width:95%;" class="button" data-icon="phone"> Maryhaven Outreach Team </a>
                <br><br>
                <a href="tel:6142249121" style="width:95%;" class="button" data-icon="phone"> YWCA Family Center </a>
                <br><br>
                <a href="tel:6144623333" style="width:95%;" class="button" data-icon="phone"> FCS Office </a>
            </ul>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </article>




    <!-- copy and paste? -->
    <footer>
        <nav>
            <a href="#home"  data-icon="home"></a>
            <a href="#news"  data-icon="mail"></a>
            <a href="#sos"  data-icon="phone"></a>
            <a href="#search"  data-icon="search"></a>
        </nav>
    </footer>
</section>